
<div class="tweet" data-username="<%= params[:username] %>"></div>

<div class="container">
  <h1>Welcome to Recent Tweet 1!</h1>
  <p>Hello!</p>

  <form id="form1" action="/" method="post">
    What to tweet today?<br>
    <input type="text" name="tweet[text]" size="30"></input><br><br>
    <input id="button" type="submit" value="Tweet Now"></input>
  </form>
  <br>
   <div class="images">
    <img id='loader' src='/img/ajax-loader.gif' style="display:none"></img>
  </div>
  <div class="tweets">
  </div>

</div>
